body.body-meetup {
 background: url("paper.png");
}

.header-meetup{
  font-size: 2em;
  color: green;
  text-align: center;
}

#button-meetup {
  cursor: pointer;
  display: block;
  width: 100px;
  height: 50px;
  margin: 0px auto;
}

#area-wrapper {
	text-align: center;
	margin-top: 50px;
}

#area-divider {
	clear: both;
	margin-bottom: 50px;
}